{% extends "base.html" %}
{% block title %}{{ task["title"] }} | Review{% endblock %}
{% block head %}
{{ super() }}
{% endblock %}
{% block help_modal_body %}
              <p>Use this page to review the annotations.</p>
{% endblock %}
{% block content %}
      <div class="row">
        <div class="col-md-10">
          <div class="progress">
            <div class="progress-bar" role="progressbar" aria-valuenow="{{ progress_percent|int }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ progress_percent|int }}%;">
              {{ progress_percent|int }}%
            </div>
          </div>
        </div>
        <div class="col-md-2">{{ task['num_completed']|commas }} / {{ task['num_total_images']|commas }}</div>
      </div>

      <form action="/update" method="get">
        <input type="hidden" name="task_id" value="{{ task['id'] }}" />
        {% for image_name in images_list %}
        <div class="panel panel-default">
          <div class="panel-body">
            <div class="row">
              <div class="col-md-7">
                <img id="preview_image" src="/static/images/{{ task['id'] }}/{{ image_name }}" alt="{{ image_name }}" />
              </div>
              <div class="col-md-5">
                <h4>{{ image_name }}</h4>
                {% for class_name in task['classes'] %}
                <div class="radio">
                  <label>
                    <input type="radio" name="label_{{ image_name }}" id="annotation_radio_{{ image_name }}_{{ loop.index }}" value="{{ loop.index-1 }}" />
                    {{ class_name }}
                  </label>
                </div>
                {% endfor  %}
              </div>
            </div>
          </div>
        </div>
      {% endfor %}
      </form>
{% endblock %}
